:root {
 --header-footer: aqua;
}

html{
  font-size: 62.5%;
}

body{
background-color: darkgray;
font-size: 1.75rem;
line-height: 1.5;
}

header {
  display: flex;
  padding: 20px;
  background-color: aqua;
  justify-content: space-between;
  color: darkgreen;
}

.nav-bar{

  height: 80px;
  display: flex;
  align-items: center;

}


h2{
  font-size: 25px;
  display: flex;
  padding: 25px;
}

.sub-header{
  background: url(../Assets/Image/te.jpg) no-repeat;
  background-size: cover;
  height: 299px;
  background-position: center;

}

.sub-header img{
  height: 175px;
  border: 2px solid;
  border-radius: 44px;
  padding: 2px;
  width: 132px;
  margin: 40px;

}

h4{
  margin-left: 35px;
}

h3{
  font-size: 50%;
}

main{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0rem auto;
}

.personal-info {
  display: flex;
  margin: 47px 55px 4%;
  position: relative;
  bottom: -98px;
}



.about-me{
  margin-left: 267px;
  bottom: 70px;
  position: relative;
  display: inline;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px
}
.work{
  
}

.work h1{
  display: flex;
    /* justify-content: revert; */
    position: relative;
    left: 49px;
}

.main-project{
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    font-size: 64px;
}



.project{
    
    border-style: solid;
    border-width: 2px;
    background-color: lightgrey;
    flex-basis: 37%;
    padding: 20px;
    margin: 10px;
    flex-wrap: 1;
    height: 200px;
    text-size-adjust: 25px;
    justify-content: left;
    outline: solid 5px aqua;
    transition: outline 0.6s linear;
    position: relative;
    display: flex;
    left: 227px;
}

footer{
  background-color: aqua;
  color: darkgreen;
  display: flex;
  position: relative;
  top: 211px;
  /* margin: -28px; */
  /* padding: 10px; */
  /* width: 250px; */
  height: 213px;
}

.contact-info{
  display: flex;
  position: relative;
  align-items: 230px;
  left: 50%;
  /* margin-top: 36px; */
  margin: 30px;
  font-size: 30px;
}

.links{
  display: flex;
  position: relative;
  top: 84px;
  left: 37%;
}

  
/* @media screen and (min-width: 768px){
  .work{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .work:last-child{
    flex-grow: 1;;
  }
}

@media screen and (min-width: 992px) {
  header{
    width: 75%;
  }

  .work{
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
     */
  
  